// The following classes come with predefined text sizes and styles.
// This feature enables developers to accurately apply styles to individual elements crafted by designers.
// These settings are synchronized seamlessly with Figma.

// HEADING
.heading-x-large {
  font-family: var(--font-family-heading);
  font-size: 4.2rem;
  line-height: 1.14; /* 48 */
}

.heading-x-large-bold {
  @extend .heading-x-large;
  font-weight: 800;
}

.heading-large {
  font-family: var(--font-family-heading);
  font-size: 3.6rem;
  line-height: 1.11; /* 40 */
}

.heading-large-bold {
  @extend .heading-large;
  font-weight: 800;
}

.heading-medium {
  font-family: var(--font-family-heading);
  font-size: 3.1rem;
  line-height: 1.16; /* 36 */
}

.heading-medium-bold {
  @extend .heading-medium;
  font-weight: 800;
}

.heading-small {
  font-family: var(--font-family-heading);
  font-size: 2.8rem;
  line-height: 1.14; /* 32 */
}

.heading-small-bold {
  @extend .heading-small;
  font-weight: 800;
}

.heading-x-small {
  font-family: var(--font-family-heading);
  font-size: 2.2rem;
  line-height: 1.27; /* 28 */
}

.heading-x-small-bold {
  @extend .heading-x-small;
  font-weight: 800;
}

.heading-xx-small {
  font-family: var(--font-family-heading);
  font-size: 1.7rem;
  line-height: 1.17; /* 20 */
}

.heading-xx-small-bold {
  @extend .heading-xx-small;
  font-weight: 800;
}

// TEXT
.text-x-large {
  font-size: 1.8rem;
  line-height: 1.33; /* 24 */
}

.text-x-large-bold {
  @extend .text-x-large;
  font-weight: 600;
}

.text-large {
  font-size: 1.6rem;
  line-height: 1.25; /* 20 */
}

.text-large-bold {
  @extend .text-large;
  font-weight: 600;
}

.text-medium {
  font-size: 1.4rem;
  line-height: 1.14; /* 16 */
}

.text-medium-bold {
  @extend .text-medium;
  font-weight: 600;
}

.text-small {
  font-size: 1.2rem;
  line-height: 1.33; /* 16 */
}

.text-small-bold {
  @extend .text-small;
  font-weight: 600;
}

.text-x-small {
  font-size: 1rem;
  line-height: 1; /* 10 */
}

.text-x-small-bold {
  @extend .text-x-small;
  font-weight: 600;
}

.text-label {
  @extend .text-small-bold;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.text-speech {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.33; /* 20 */
}

.text-speech-bold {
  @extend .text-speech;
  font-weight: 600;
}

// PARAGRAPH
.paragraph-large {
  font-size: 1.6rem;
  line-height: 1.5; /* 24 */
}

.paragraph-large-bold {
  @extend .paragraph-large;
  font-weight: 600;
}

.paragraph-medium {
  font-size: 1.4rem;
  line-height: 1.42; /* 20 */
}

.paragraph-medium-bold {
  @extend .paragraph-medium;
  font-weight: 600;
}

// UTILITIES
.monospace {
  font-variant-numeric: tabular-nums;
}
